body {
  background: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  display: block;
  text-align: center;
}
a {
  text-align: center;
  text-decoration: none;
}

img {
  width: 500px;
  border-radius: 10px;
}
.navigator {
  border: 1px solid #9fcbc8;
  background-color: #9fcbc8;
  border-radius: 5px;
  padding: 10px;
  margin-left: 15px;
}
.back {
  margin-left: 15px;
}
footer {
  color: grey;
  font-size: 10px;
}
